# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
.vscode
_CMAKE
_build/help/index.html
_build/steel
!_build/Irrlicht.dll
!lib/irrlicht131/lib/Irrlicht.lib
build
doc_out
lib/irrlicht131/doc/irrlicht.chw
src/lua_wrapper.cpp
vc6/Debug
vc6/Release
vc6/steel.ncb
vc6/steel.opt
vc6/steel.plg
TDM-GCC-32
