# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
_CMAKE
!_build/luac.exe
_build/help/index.html
_build/examples/*/code.out
compiler/*.build*/
build
doc_out
lib/irrlicht12/Irrlicht.chw
src/lua_wrapper.cpp
MonkeyXPro85e
TDM-GCC-32
